doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/style.css')
        title Courses
    body
        h1 Edit #{course.title}
        form(action=`/change-course/${course._id}` class="add" method="POST")
          label(for="name") Name:
          input(type="text", id="name", name="name", value=course.name)
          label(for="age") Age:
          input(type="number", min="1", id="age", name="age", value=course.age)
          label(for="status") Status:
          input(type="text", id="status", name="status", value=course.status)
          label(for="avatar") Link for image:
          input(type="text", id="avatar", name="avatar", value=course.avatar)
          button(type="submit") Update Profile